{% assign person = site.data.people[include.name] %}
<div class="person" id="{{ include.name }}">
	<div class="details">
		<h3 class="name">{{ person.name }}</h3>
		{% if person.role %}<p class="role">{{ person.role }}</p>{% endif %}
		{% if person.department %}<p class="department">{{ person.department }}</p>{% endif %}
		{% if person.focus %}<p class="focus">{{ person.focus }}</p>{% endif %}
		{% if person.email %}
		<a class="email" href="mailto:{{ person.email }}">{{ person.email }}</a>
		{% endif %}
		{% if person.links %}
		<div class="links">
		{% for link in person.links %}
		<a href="{{ link.link }}" class="link-icon" rel="noopener">
			<i class="{{ link.icon }}" aria-hidden="true"></i>
		</a>
		{% endfor %}
		</div>
		{% endif %}
	</div>
	{% if person.image %}
	<img class="portrait" src="{{ person.image }}" alt="Portrait of {{ person.name }}" loading="lazy"/>
	{% endif %}
</div>
