@use 'sass:color';
$accent-color: #4300FF;
$accent-color-light-0: color.adjust($accent-color, $lightness: 30%);
$accent-color-light-1: color.adjust($accent-color, $lightness: 40%, $alpha: -0.5);

$accent-color-dark-0: color.adjust($accent-color, $lightness: -20%);